li:hover,.home:hover {
    background-color: #f1903d;
}

i:hover,a:hover {
    background-color:#f1903d;
}
nav{
    background-color: #c52127;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}

i{
  font-size: 24px;
  padding-right: 6px;
  color: #fff;
}

.nav-home:hover{
  background-color: #f1903d;
}
mat-radio-button{
  color:white;
}
a{
  display: flex;
  align-items: center;
  padding: 3px 4px;
  margin-bottom: 2px;
  transition: 0.3s;
  font-size: 16px;
}

li{
  display: inline-flex;
}


