<section id="about">
    <div class="container">
        <h2><strong>{{'about.title' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class=" image img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/hamza-rachid-877a9b58/" rel="tooltip"
                        target="_blank" title="{{'about.followMeOn' | translate}} Linkedin">
                        <i class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/hamza-btc" rel="tooltip" target="_blank"
                        title="{{'about.followMeOn' | translate}} GitHub">
                        <i class="fa fa-github fa-lg "></i></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'about.jobTitle' | translate}}</h3>
                <p class="font-italic">
                    {{'about.introductionOfMe' | translate}}
                    <br>{{'about.passionateAboutDevelopment' | translate}} <b>Front-End</b> {{'about.and' | translate}} <b>L'integration web</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class=" fa fa-map" style="color:#c52127"></i><strong> {{'about.mobility' | translate}}</strong>
                            </li>
                            <li>
                                <i class=" fa fa-building" style="color:#c52127"></i><strong> Montpellier, France</strong>
                            </li>
                            <li>
                                <i class=" fa fa-envelope" style="color:#c52127"></i><strong><a style="color: #000;" href="mailto:rachidhmz@gmail.com">
                                        rachidhmz&#64;gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <i class=" fa fa-birthday-cake" style="color:#c52127"></i><strong> 30 {{'about.years' | translate}}</strong>
                            </li>
                            <li>
                                <i class=" fa fa-graduation-cap" style="color:#c52127"></i><strong> {{'about.graduation' | translate}}</strong>
                            </li>
                            <li>
                                <i class=" fa fa-home" style="color:#c52127"></i><strong> {{'about.myResearch' | translate}} </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    {{'about.researchDescription' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>