ul {
  list-style-type: none;
}

fa-icon{
    font-size: 15px;
    color: #149ddd;
    width: 30px;
    height: 30px;
    background: #dff3fc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

h3{
  font-weight: 700;
    font-size: 27px;
    color: #000;
    margin-bottom: 5px;
}

.btn-social-media{
  border-radius: 50px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background: #f1903d;
  margin-right:5px;
  margin-left:5px;
  margin-top:10px;
}

a{
  text-decoration: none;
}
.image {
  clip-path: circle();
}
  