
.bar-title{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background:#c52127;

}
section{
    padding-top: 100px;
  }
h2{
    color:#000;
}
html{scroll-behavior: smooth;}
html, body { height: 100%; }
body { margin: 0; font-family: 'Inclusive Sans', sans-serif}


.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #149ddd!important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #149ddd!important;
}
.mat-radio-outer-circle{
    border-color: white!important;
}
.mdc-radio {
    height: auto !important;
  }
  .btn-primary {
    color: #fff;
    background-color: #f1903d !important;
    border-color: #f1903d  !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #c52127 !important;
    border-color: #c52127 !important;
}
.btn-primary:focus, .btn:focus {
    box-shadow: none !important;
}